# Google (compte de service)
GOOGLE_SERVICE_ACCOUNT_JSON=C:/chemin/vers/service-account.json
SPREADSHEET_ID=1lUzrsPeMOS2ruPZkCP8l4b-u3eKFgRs_BecNlyDAuaM
GOOGLE_CALENDAR_ID=rocionirvanayoga@gmail.com

# Auth JWT
JWT_SECRET=4262e321f523fac07282a723712c40a1bb9cf13cd74c8a0b4e2c7f1653a47105
JWT_EXPIRE_DAYS=365
BASE_URL=http://localhost:8000

# Mollie
MOLLIE_API_KEY=test_xxxxxxxxxxxx
# MOLLIE_WEBHOOK_SECRET=  (optionnel)

# Email SMTP (Brevo ou autre)
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=ton_login_brevo
SMTP_PASSWORD=ta_cle_api_brevo
EMAIL_FROM=noreply@studio-yoga.fr
